body
{
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content
{
    flex-grow: 1;
}

footer
{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header
{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1
{
    font-size: 46px;
    margin-bottom: 16px;
}

header a
{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait
{
    width: 250px;
    border-radius: 10px;
}

input
{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(211, 209, 209);
}

input:focus
{
    outline: none;
}

button
{
    padding: 8px;
    background: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover
{
    background: #5f5f5f;
}

#message-1
{
    font-weight: 600;
}
#message-2
{
    font-weight: 600;
}

span
{
    color: purple;
    font-weight: 600;
}